#img-bg{
    background-image: url('https://media.discordapp.net/attachments/857632761983795210/857639212432752640/account-concept-illustration_114360-409.png');
min-height: 881px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}